@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
  min-height: 100%;
  width: 100%;
  /* height: 1000px; */
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Text {
  color: rgb(0, 0, 0);
}

.Body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Rubik', cursive;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Poppins', cursive;
}

.row{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.right-box{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, white 50%, red 20%) no-repeat;
}

.mockup{
  margin: 50px 0 0 0;
}
.mockupB{
  padding: 130px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
